.name{
    color: white;
}

.main-section{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: stretch; 
    overflow: visible;
}

.image-div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    
}

.image-div .my-profile{
    background-image: url(Images/Profile.JPG);
    flex-grow: 1;
    max-height: 60vh;
    min-width: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.blogs-div h3{
    color: white;
}

.blogs-div a{
    color: #1C1836;
    text-decoration: none;
    padding: 0.2em;
    border-radius: 10px;
   
}

.blogs-div a:hover{
    color: red;
}
.heading{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    align-self: center;
}

@media(max-width: 1000px){
    .container{
        overflow: visible;
    }
    .image-div{
        display: none;
    }

    .main-section{
        justify-content: center;
    }
}

.main-cards {
    display: flex;
    max-height:100vh;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    width: 80%;
}

.main-cards h3{
    text-align: center;
    color: #1C1836;
    font-size: 1.5em;
}

.main-cards p{
    text-align: center;
    color: white;
}

.main-cards .cards{
    padding: 10px;
}

.card{
    background: linear-gradient(rgb(34, 150, 215, .27), rgb(196, 196, 196, 0));
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.card:hover{
    background: linear-gradient( #C4C4C4,#2296D7);
}