@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{  
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #097392;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    overflow: hidden;
}

.full-height-grow{
    flex-direction: column;
    display: flex;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li{
    padding: 1rem; 
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.5em;
}

.main-nav a:hover {
    color: red;
    cursor: pointer;
}

.main-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.container{
    margin: 0 auto;
    max-width: 1850px;
    padding: 0 40px;
    flex-grow: 1;
}

.title{
    font-weight: 600;
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 1.2rem;

}

.main-para{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2em;
}

.btn{
    background-color: #1C1836;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 50px;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: red;
}

@media(max-width: 600px){
    .container{
        font-size: 10px;
        overflow: visible;
        margin: 5px;
        padding: 5px;
    }
    .heading {
        margin: 0;
    }
    .title{
        font-size: 2em;
        margin-bottom: 0;
    }
    .main-section{
        display: flex;
        flex-direction: column;
    }

    .main-cards{
       display: flex;
       flex-direction: column;
       margin: 0;
       padding: 0;
       width: 100vw;
    }
    .card{
        margin: auto;
        max-width: 90vw;
    }
    .main-nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        height: 60px;
    }
    .btn{
        padding: 0.75rem 1.5rem;
    }
}
