.img-div img{
    width: 100%;
    
}
.img-div{
    margin: auto;
    width: 80%;
    z-index: -1;
}
.pageBody{
    overflow: visible;
}
.blogBody{
    display: flex;
    flex-direction: column;
    top: 90px;
    position: relative;
    height: fit-content;
    margin: auto;
    width: 80%;
    align-items: center;
    overflow: visible;
}


.contents{
    width: 70%;
    margin: auto;
}
.contents p{
    font-size: 22px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contents h1{
    text-align: center;
}
.commentSection{
    display: flex;
    flex-direction: column;
}
.commentSection label{
    margin-bottom: 10px;
}

.commentSection textarea{
    resize: none;
    font-size: 18px;
    width: 30vw;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgb(28, 24, 54, .85);
    color: white;
    padding: 8px;
}
.contents h4{
    margin-bottom: 10px;
}
.likeBtn{
    width: 90px;
    display: flex;
}
.like{
    width: 40px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;

    transition: .4s ease;
}
.like:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.commentBtn{
    display: flex;
    align-items: center;   
    justify-content: center;
    padding: 10px 20px;
    margin: 20px 0px 0px 0px;
    width: 100px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgb(28, 24, 54, .85);
}

.commentBtn:hover{
    color: red;
    cursor: pointer;
}

.img-div img{
    border-radius: 15px;
}

.commentForm{
    display: flex;
    flex-direction: column;
}

.commentDivs{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#commentor{
    background-color:rgb(28, 24, 54, .85);
    outline: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 30vw;
}

#likesCounter{
    margin: 0;
    color: white;
    position: relative;
    bottom: 4px;
}


@media(max-width: 768px){
    .img-div{
        margin: 0 !important;
        width: 80vw;
    }
    .blogBody{
        flex-direction: column;
        z-index: -1;
        width: 95vw;
        font-size: 16px;
        align-items: center;
    }
    #commentor{
        width: 60vw;
    }
    .commentSection textarea{
        width: 60vw;
    }
    #blogBodyId{
        margin: 0 !important; 
    }
    #cnts{
        margin: 0;
        width: 85vw;
    }
    .contents h1{
        text-align: center;
    }
}