@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #097392;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    overflow-x: hidden;
}

.container{
    background: rgb(28, 24, 54, .85);
    border-radius: 10px;
    min-width: 35vw;
    padding: 20px;
}

.my-form{
    min-width: 25vw;
    min-height: 50vh;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group input{
    color: white;
    background: #1C1836;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.labels{
    padding-bottom: 1rem;
    font-size: 18px;
}
.heading h2{
    font-size: 32px;
    text-align: center;
    color: white;
}

.btn{
    background-color: #1C1836;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.9rem 1.2rem;
    cursor: pointer;
    border: none;
    margin: 40px;
    align-self: center;
}

.btn:hover{
    color: red;
}
.svgs{
    width: 20px;
    position: relative;
    top: 3px;
}

.main-footer{
    display: flex;
    height: 40px;
    position: absolute;
    background-color: rgb(28, 24, 54, .85);
    bottom: 0;
}

.main-header{
    height: 50px;
}

.footer-nav ul{
    display: flex;
    margin: 0 70px;
    padding: 0;
    list-style: none;
}
.footer-nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1rem;
}
.footer-nav a:hover{
    color: red;
}

.main-footer .footer-container{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
header{
    height: 60px;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background-color:rgb(28, 24, 54, 1);
}
.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #1C1836;
    padding: 0 50px;
    width: 100vw;
}

.main-nav li{
    margin-right: 20px;
}
.brand-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
.main-nav a:hover{
    color: red;
    cursor: pointer;
}

#admin-div{
    display: block;
    
}
#admin-div a{
    text-decoration: none;
    color: white;
}

#admin-div a:hover{
    color: red;
}

h3{
    text-align: center;
}

.loggedIn{
    padding: 20px;
}
.togglebtn{
    position: absolute;
    top: .8rem;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px){

    body{
        overflow-y: hidden;
        z-index: 2;
    }
    header{
        display: flex;
        height: fit-content;
    }
    header ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .container{
        top: 50px;
        position: relative;
        min-width: 85%;
        max-height: 55vh;
    }
    .footer-nav ul{
        width: 100%;
        margin: auto;
    }
    .footer-nav {
        display: inline;
    }
    h2{
        margin: 10px;
    }
    .svgs{
        width: 15px;
    }
    .footer-nav a{
        font-size: 16px;
    }
    .main-footer{
        position: fixed;
        bottom: 0;
        height: 40px;
    }
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn{
        margin: 20px;
    }
    .brand-name{
        display: flex;
        justify-content: flex-start;
        top: 10px;
        left: 20px;
        margin: 0;
        padding: 0;
    }

    .togglebtn{
        display: flex;
    }

    .main-nav ul{
        display: flex;
        justify-content: center;
        transition: ease-in;
        z-index: 1;
    }
    .navLinks{
        display: none;
        justify-content: center;
        position: relative;
        right: 94px;
        top: 130px;
        z-index: 1;
    }
    
    .navbar{
        padding: 0;
        height: 60px;
        flex-direction: column; 
        align-items: flex-start;
    }
    .main-nav ul{
        padding: 0;
        margin: 0;
        background-color: rgb(28, 24, 54, 1);
        flex-direction: column;
        align-items: center;
        width: 100vw;
        position: relative;
        top: -6px;
        right: 6px;
    }
    .main-nav li{
        padding: 15px;
    }
    .main-nav{
        padding: 0 20px;
    }

    .active{
        display: block;
    }
}